* {
  font-family: Brandon, Arial;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0.3px;
  font-size: 14px;
}
hr {
  margin: 12px;
}
body {
  width: 95%;
  margin: auto;
}
.logobag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-bottom: 50px;
}
.logobag > img {
  width: 15%;
}
.logobag a {
  min-width: 10px;
  width: 3%;
}
.logobag a img {
  width: 100%;
}
section {
  width: 70%;
  margin: auto;
}
.top {
  padding: 16px 0;
}
.top p:first-child {
  margin-bottom: 24px;
  margin-left: 12px;
  font-size: 14px;
}
.top p:last-child {
  margin-top: 24px;
  margin-left: 12px;
  font-size: 14px;
}
.top span {
  font-size: 24px;
  margin: 0 6px;
}
.top i {
  margin-right: 4px;
}
.address {
  padding: 0 16px;
}
.address h1 {
  margin: 12px 0;
  font-size: 20px;
}
.address > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment {
  padding: 0 16px;
  text-align: center;
}
.payment h1 {
  margin: 12px 0;
  font-size: 20px;
  text-align: left;
}
.payment p {
  margin: 12px 0;
  font-size: 14px;
  text-align: left;
}
.payment input {
  margin: 16px 4px;
  padding: 8px 10px;
  font-size: 16px;
}
.payment > div > input {
  width: 500px;
}
.payment > div > div > input {
  width: 233px;
}
.payment button {
  font-size: 24px;
  padding: 8px 30px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  transition: 0.5s ease;
}
.payment button:hover {
  opacity: 0.8;
  border-radius: 8px;
  transform: scale(1.05);
}
.btm {
  text-align: center;
  font-style: italic;
  margin-bottom: 30px;
}
#paymenttotal {
  font-size: 20px;
  color: blue;
}
.otp {
  backdrop-filter: blur(20px);
  width: 100%;
  z-index: 999999;
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease;
}
.otp.active {
  visibility: visible;
  opacity: 1;
}
.otp > div {
  backdrop-filter: blur(10px);
  position: relative;
  background-color: white;
  top: 25%;
  left: 30%;
  max-width: 350px;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0;
  transform: scale(0);
  transition: transform 0.5s ease;
}
.otp.active>div {
  transform: scale(1);
}
form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  background-color: white;
}
form label {
  text-align: center;
  font-size: 24px;
}
form input {
  height: 40px;
  width: 90%;
  padding: 0px 8px;
  margin: 10px auto;
  font-size: 20px;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 20px;
}
